* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/pexels-photo-1178684.jpeg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Element licznika */

.container {
    padding: 1rem;
    text-align: center;
    /* background-color: rgba(176, 187, 136, .8); */
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
}

.container #text {
    font-size: 1.7rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.container #time-counter {
    font-size: 1.7rem;
    font-style: italic;
}

.container i {
    color: rgb(0, 81, 255);
    font-size: 2rem;
}

.go-home {
    font-size: 2.2rem;
    color: black;
    font-weight: 700;
}

/* Element Modalu */
#modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    color: black;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 5px rgb(63, 62, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content p {
    padding: .5rem;
}

.modal-content input#hour-input {
    display: block;
    line-height: 3rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    border: 10px;
    border-color: black;
    width: 60%;
    background: beige;
}

.modal-content button#modalBtn {
    color: white;
    margin-top: .5rem;
    padding: .7rem;
    background:rgb(67, 161, 238);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 1s;
}

.modal-content button#modalBtn:hover {
    background-color: rgb(81, 190, 90);
}

/* Ostrzeżenie przy źle podanej godzinie */
.modal-content .warning-sign {
    color: red;
    font-size: .7rem;
}

/* media dla urządzeń mobilnych */
@media (max-width: 900px) {
    .container #text {
        font-size: 1.5rem;
    }

    .container #time-counter {
        font-size: 1.4rem;
    }

    .go-home {
        font-size: 1.5rem;
        color: black;
        font-weight: 700;
    }

    .modal-content {
        width: 60%;
    }

    .modal-content p {
        font-size: .8rem;
    }
}

@media (max-width: 620px) {
    .container #text {
        font-size: 1.2rem;
    }

    .go-home {
        font-size: 1.2rem;
        color: black;
        font-weight: 700;
    }
}